<nav class="navbar navbar-expand-sm bg-blue">
    <div class="container-fluid">
        <div class="navbar-header">

            <img src="https://s3.amazonaws.com/myamcatimages/company/images/8527.png" alt="" width="80" height="50">
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Login</a></li>&nbsp;&nbsp;&nbsp;
         
            <li style="color:crimson">{{data.name}}</li>&nbsp;&nbsp;&nbsp;
            <li style="color:crimson">{{data.MobileNo}}</li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="sidebar-header">
        <div class="row">
            <div class="my-sidebar">
                <div class="wrapper">
                    <nav class ="navbar navbar-fixed-top navbar-blue ">

                        
                        <ul class="nav navbar-nav" routerLinkActive="active">
                                <li class="nav-item"><a class="nav-link" routerLink="/homeone">Home</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/courses">Courses</a></li>
                            </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- <router-outlet name="sidemenu"></router-outlet> -->

